
@font-face {
    font-family: "Px437_Tandy1K-II_225L-2y";
    src: url('fonts/Px437_Tandy1K-II_225L-2y.ttf');
}

@font-face {
    font-family: "Px437_EuroPC_CGA-2y";
    src: url('fonts/Px437_EuroPC_CGA-2y.ttf');
}

@font-face {
    font-family: "Px437_Amstrad_PC-2y";
    src: url('fonts/Px437_Amstrad_PC-2y.ttf');
}

@font-face {
    font-family: "Px437_DG_One-2y";
    src: url('fonts/Px437_DG_One-2y.ttf');
}

@font-face {
    font-family: "Px437_Rainbow100_re_80";
    src: url('fonts/Px437_Rainbow100_re_80.ttf');
}

@font-face {
    font-family: "Px437_ATI_SmallW_6x8";
    src: url('fonts/Px437_ATI_SmallW_6x8.ttf');
}

@font-face {
    font-family: "Px437_CL_Stingray_8x19_bold";
    src: url('fonts/Px437_CL_Stingray_8x19_bold.ttf');
}

@font-face {
    font-family: "Px437_IBM_DOS_ISO8";
    src: url('fonts/Px437_IBM_DOS_ISO8.ttf');
}

@font-face {
    font-family: "Px437_EpsonMGA_Alt-2y";
    src: url('fonts/Px437_EpsonMGA_Alt-2y.ttf');
}

@font-face {
    font-family: "Px437_EagleSpCGA_Alt3-2y";
    src: url('fonts/Px437_EagleSpCGA_Alt3-2y.ttf');
}

@font-face {
    font-family: "Px437_Cordata_PPC-400";
    src: url('fonts/Px437_Cordata_PPC-400.ttf');
}

@font-face {
    font-family: "Px437_SanyoMBC55x";
    src: url('fonts/Px437_SanyoMBC55x.ttf');
}

@font-face {
    font-family: "Px437_EverexME_5x8";
    src: url('fonts/Px437_EverexME_5x8.ttf');
}

@font-face {
    font-family: "Px437_Acer710_CGA-2y";
    src: url('fonts/Px437_Acer710_CGA-2y.ttf');
}

@font-face {
    font-family: "Px437_TsengEVA_132_6x8";
    src: url('fonts/Px437_TsengEVA_132_6x8.ttf');
}

@font-face {
    font-family: "Px437_IBM_BIOS-2y";
    src: url('fonts/Px437_IBM_BIOS-2y.ttf');
}

@font-face {
    font-family: "Px437_IBM_EGA_9x14";
    src: url('fonts/Px437_IBM_EGA_9x14.ttf');
}

@font-face {
    font-family: "Px437_EpsonMGA-2y";
    src: url('fonts/Px437_EpsonMGA-2y.ttf');
}

@font-face {
    font-family: "Px437_DOS-V_re_PRC19";
    src: url('fonts/Px437_DOS-V_re_PRC19.ttf');
}

@font-face {
    font-family: "Px437_NEC_MultiSpeed_bold";
    src: url('fonts/Px437_NEC_MultiSpeed_bold.ttf');
}

@font-face {
    font-family: "PxPlus_IBM_CGA-2y";
    src: url('fonts/PxPlus_IBM_CGA-2y.ttf');
}


@font-face {
    font-family: "Px437_Kaypro2K_G-2y";
    src: url('fonts/Px437_Kaypro2K_G-2y.ttf');
}

@font-face {
    font-family: "Px437_Apricot_256L";
    src: url('fonts/Px437_Apricot_256L.ttf');
}

@font-face {
    font-family: "Px437_EagleSpCGA_Alt2-2y";
    src: url('fonts/Px437_EagleSpCGA_Alt2-2y.ttf');
}

@font-face {
    font-family: "Px437_TridentEarly_9x14";
    src: url('fonts/Px437_TridentEarly_9x14.ttf');
}

@font-face {
    font-family: "Px437_CL_Stingray_8x16_bold";
    src: url('fonts/Px437_CL_Stingray_8x16_bold.ttf');
}
